/* @import url('/fonts/SofiaSansExtraCondensed-SemiBold.ttf'); */
.present{
    max-width: 650px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    margin: 35px auto 0;
    perspective: 1px;
    height: 100vh;
    /* color: #383636; */
    color: #383636de;
    overflow-x: visible; 
    overflow-y: auto;
    /* font-style: italic */
 
 }
 /* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Great+Vibes&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
.sofia-sans-extra-condensed  {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */
 .present h1{
    display: block;
   text-align: center;
  
   
   
   font-size: 30px;
     letter-spacing: 1.1px;
     /* font-weight: 700; */
    
 }
 .present p {
 margin: 10px 0 0 7px;

 font-size: 27px;
   /* letter-spacing: 1.1px; */
   /* font-weight: 500; */
   line-height: 24px;
 }
 .present  ol {
    margin: 10px 0 0 7px;
  
    padding-left: 0;
   
    font-size: 27px;
    line-height: 24px;
    letter-spacing: -0.01em;
    list-style-position: inside;
  
  }
  
  .present li:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .present a {
    margin-left: 5px;
     display: inline-block;
    color: rgb(47 111 235);
    text-decoration: underline;

  
  } 
 
  @media  (max-width: 850px) {
    .present  {
     grid-row-start: 2;
     height: 350px;
     padding: 20px 10px;
     margin: 0 auto;
     max-width: 665px;
     border-left: 2px solid rgb(47 111 235);
     border-right: 2px solid rgb(47 111 235);
  }

  .present::-webkit-scrollbar {
    width: 8px;            
  }
  
  .present::-webkit-scrollbar-thumb {
    background-color: rgb(47 111 235);
    border-radius: 20px;  
  }
  
  .present::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  }
  @media (max-width: 700px) {
    .present {
      padding: 20px 5px; 
      margin: 0 10px;
      }
    } 