/* @import url('/fonts/SofiaSansExtraCondensed-SemiBold.ttf');
@import url('/fonts/PTSans-Regular.ttf');
@import url('/fonts/Caveat-VariableFont_wght.ttf'); */

.bid_container {
     padding-top: 200px;
    max-width: 600px;
    margin: 0px auto 0px;
    background-attachment: fixed;  
  position: relative;
font-size: 26px;
font-family: "Sofia Sans Extra Condensed", sans-serif;
font-style: italic;
    perspective: 1px;
    height: 100vh;
    overflow-x: visible; 
    overflow-y: auto;
    
    
}
.bid_container h1{
    display: block;
   text-align: center;
 
   
   
   font-size: 33px;
     letter-spacing: 1.1px;
     font-weight: 700;
    
 }
 .bid_container p  a {
     display: inline-block;
    color: rgb(47 111 235);
    text-decoration: underline;
    cursor: pointer;
  
  }
  @media  (max-width: 850px) {
    .bid_container {
     grid-row-start: 2;
     height: inherit;
     padding: 20px 50px;
 }
  }
    
  