.resume {
   margin: auto auto;
}
.main_content{
    max-width: 600px;
    margin: 70px auto;
  }
  .main {
    margin-top: 10px;
    /* display: flex; */
    flex-direction: column;
    gap: 32px;
     align-items: center;
    justify-items: center; 
    /* grid-row-start: 2; */
    grid-column-start: 3;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    /* font-family: "Caveat", cursive; */
    /* font-family: "Great Vibes", cursive; */
    font-size: 33px;
      /* font-style: italic; */
      letter-spacing: 1.1px;
      font-weight: 700;
  }