.resume {
  padding: 20px;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  text-align: center;
  font-style: italic;
}
.resume h1 {
  font-family: "Sofia Sans Extra Condensed", sans-serif;

  font-style: italic;
}
  .main {
    margin-top: 10px;
    /* display: flex; */
    flex-direction: column;
    gap: 32px;
     align-items: center;
    justify-items: center; 
    /* grid-row-start: 2; */
    grid-column-start: 3;
    
    /* font-family: "Caveat", cursive; */
    /* font-family: "Great Vibes", cursive; */
    font-size: 33px;
      /* font-style: italic; */
      letter-spacing: 1.1px;
      font-weight: 700;
     z-index: -1;
  }
  @media  (max-width: 850px) {
    .resume  {
     grid-row-start: 2;
     padding: 0px 20px;
  }
  }