@import url('/public/fonts/Kingthings_Petrock.ttf');
.kingthings {
  font-family: "Kingthings Petrock", sans-serif;
}
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Great+Vibes&family=Sofia+Sans+Extra+Condensed:wght@100;400;700&display=swap');

.sofia-sans-extra-condensed  {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url('/fonts/SofiaSansExtraCondensed-SemiBold.ttf') format('truetype');
  
}
@import url('/fonts/Caveat-VariableFont_wght.ttf');

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
 
}
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Great+Vibes&display=swap');
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
} */
.page {
  display: grid;
  grid-template-columns: 5fr 9fr 14fr 1fr;
  background-color: rgba(47, 110, 235, 0.151);
  height: 100vh; 
  overflow: hidden; 
}

.main {
  padding: 15px 10px;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 30px;
    /* letter-spacing: 1.1px; */
    font-weight: 600;
    color: #383636;
}
.main p {
    text-align: center;
    line-height:28px;
    font-size: clamp(1.625rem, 1.269rem + 0.67vw, 1.8rem);
}

.main_content{
  margin: 0 auto;
  max-width: 665px;
  z-index: -1;
  perspective: 1px;
  height: 100vh;
  overflow-x: visible; 
  overflow-y: auto;
}

.main h1{
text-align: center;
font-size: 45px;
}

.main ol {
  margin: 15px 0 0 7px;
  font-family: var(--font-geist-mono);
  padding-left: 0;
}
.main li {
  font-weight: 500;
  font-size: 26px;
  line-height:28px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}  

.main li:not(:last-of-type) {
  margin-bottom: 10px;
  
}
  .logo {
    border: 2px solid #383838;
    padding: 7px;
  grid-column-start: 2;
  }
  .nav__hader {
    font-family: "Caveat", cursive;
    font-size: max(1.7vw, 18px);
    font-weight: 700;
    height: 50px;
    background-color: rgb(47 111 235);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  
  }
  .examples {
    margin-left: 10px;
    margin-top: 20px;
    grid-column-start: 1;
  }
   
  .example {
    font-family: "Kingthings Petrock", sans-serif;
   padding: 13px 10px;
    background-color:rgb(249 250 251);
    border-radius: 8px;
    text-align: center;
    font-size: clamp(1.063rem, 0.439rem + 1.17vw, 1.5rem);
    margin-bottom: 10px;
    color: #747474;
    cursor: pointer;
  }
  .example:hover {
     color: #C6A57A;
  }
  .active {
  
    color: #C6A57A; 
  }
  .nav__footer {
    font-family: "Caveat", cursive;
    font-size: max(1.8vw, 21px);
    font-weight: 700;
    height: 50px;
    background-color: rgb(47 111 235);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    grid-row-start: 3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
  }
  .nav__footer:hover {
    color: #C6A57A; 
  }  
  .example__site {
    grid-column-start: 2;
    border-radius: 8px;
    
    transition: transform 0.3s ease; 
    cursor: pointer; 
  }
  .example__site:hover {
    transform: scale(1.05); 
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    background-attachment: fixed; 
    position: relative;
  
      border-radius: 8px;
      perspective: 1px;
      height: 100vh;
      overflow-x: visible; 
      overflow-y: auto;
  }
  .mainpage__site {
    display: flex;
    flex-direction: column;
    gap: 5px;
  background-size: cover;
  background-attachment: fixed; 
  position: relative;

    border-radius: 8px;
    perspective: 1px;
    height: 100vh;
    overflow-x: visible; 
    overflow-y: auto;
  }
  .social {
       background-color: rgb(47 111 235);
  
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   align-content: center;
   gap: 30px;
  }
  
  .travel__site {
    position: relative;
  }
  .photosite__site {
    position: relative;
  }
  .alex__site {
    position: relative;
  }
  .svyt__site {
    position: relative;
  }
  .heppi__site {
    position: relative;
  }
  .studio__site {
    position: relative;
  }
  .fullScreen {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .fullScreenImage {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    cursor: pointer;
  }
  
  .site_activ {
  position: absolute;
  font-family: "Kingthings Petrock", sans-serif;
  left: 30%;
  bottom: 20px;
  color: #fff;
  font-size: 18px;
  }
  .resume {
    max-width: 500px;
    height: 500px;
    background-color: bisque;
}
/* ****************** гамбургер   ****************** */
.hamburger_menu {
  position: relative;
  display: none;
}

.hamburger {
  cursor: pointer;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu {
  position: absolute;
  top:0;
  right: 0;
  background-color: rgb(47 111 235);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  height: 100vh;
  min-width: 100vw;
}

.menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  border-bottom: 1px solid #ddd;
}

.menu ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}
.menu ul li .lng_btn {
  display: flex;
}
.menu ul li summary h1{
  display: block;

  color: #333;
  text-decoration: none;
  font-size: 20px!important;
  font-family: 'Queen Love Stories free', sans-serif;
}
.menu ul li a:hover {
  background-color: #f0f0f0;
}

/* ****************** бургер  end ****************** */
  @media (max-width: 850px) {
  .page {
    /* grid-template-rows: repeat(4, max-content); */
    max-width: 700px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    height: inherit;
   position: relative;
 
  }
  .nav {
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(47 111 235);
    height: max-content;
    margin-bottom: 20px;
    grid-row-start: 1;
    padding-left: 13px;
    margin-right: 0;
    overflow-y: visible;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  } 
 
  .page_nav__hader {
  margin-left: 10px;
  }
  .examples {
   display: none ;
  } 
  .nav__logo_mobil {
   /* лого в мобильном меню */
      font-family: "Caveat", cursive;
      font-size: 1.6rem;
      font-weight: 700;
      margin-left: 161px;
      color: #fff; 
   display: block;
  }
  .showMenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 19px;
  }

  .hamburger_menu {
    display: block;
    margin: auto 0;
    
   }
   .hamburger  {
    margin-right: 20px;
   z-index: 1150;
   position: relative;
   }
     .social {
      flex-direction: row;
      margin-top: 15px;
      grid-row-start: 4;
      padding: 5px 0;
     } 
   
    .social_mobil {
    display: flex;
    flex-direction: column;
    
    }
     .mainpage__site {
      grid-row-start: 3;

      height: inherit;
      margin: 25px auto 0;
        width: 100%;
        max-width: 450px;
  } 
  .main_content {
    grid-row-start: 2;
    height: inherit;
  
  }
  .main {
    border-left: 2px solid rgb(47 111 235);
    border-right: 2px solid rgb(47 111 235);
  }
  .nav__footer {
display: none;
  }
  .fullScreen {
    position: fixed;
    bottom: 0;
    left: 0;
  }
.menu.open {
  display: flex; 
  align-items: center;
  width: 100vw;
  flex-direction: column;
}
.nav__mail_mobil {
  font-family: "Caveat", cursive;
  font-size: 1.6rem;
  font-weight: 700;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  color: #fff;
  max-width: 15vw;
  text-align: center; 
}
.nav__mobil_heder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.nav__footer_mobil {
  display: flex;
  align-items: center;
}
.nav_btn_close {
  margin-right: 25px;
   font-size: 1.6rem;
   color: #fff;
}
.example {
font-size: clamp(1rem, -0.5rem + 6.4vw, 1.5rem);
} 
.main p {
  font-size: clamp(1.438rem, 1.067rem + 1.52vw, 1.875rem);
} 
} 
@media (max-width: 700px) {
  .nav {
   border-radius: 0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;  
  }
    .main  {
    padding: 20px 10px; 
    margin: 0 10px;
    }

}
@media (max-width: 500px) {
  .main h1 {
  font-size: clamp(2.625rem, 1.671rem + 3.91vw, 3.75rem);
}
}