/* @import url('/public/fonts/SofiaSansExtraCondensed-SemiBold.ttf');
.sofia-sans-extra-condensed  {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */
/* @import url('/public/fonts/PTSans-Regular.ttf');
@import url('/public/fonts/Caveat-VariableFont_wght.ttf'); */

.blog_container {
     padding: 20px 15px;
    max-width: 665px;
    margin: 0px auto;
    background-attachment: fixed;  /* Параллакс-эффект */
  position: relative;
font-size: 22px;
font-family: "PT Sans", sans-serif;
font-weight: 400;
font-style: italic;
    perspective: 1px;
    height: 100vh;
    overflow-x: visible; 
    overflow-y: auto;
    
}
.blog_container h1{
   
   text-align: center;
 
   
   font-family: "PT Sans", sans-serif;
   font-size: clamp(1.563rem, 0.85rem + 1.34vw, 2.063rem);
     letter-spacing: 1.1px;
     font-weight: 700;
     line-height: 35px;
 }
 
 @media  (max-width: 850px) {
  .blog_container {
   grid-row-start: 2;
   height: 350px;
   padding: 20px 20px;
   /* max-width: 665px; */
   border-left: 2px solid rgb(47 111 235);
   border-right: 2px solid rgb(47 111 235);
}
.blog_container::-webkit-scrollbar {
  width: 8px;            
}

.blog_container::-webkit-scrollbar-thumb {
  background-color: rgb(47 111 235);
    border-radius: 20px; 
}

.blog_container::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}
}
@media (max-width: 700px) {
  .blog_container {
    padding: 20px 10px; 
    margin: 0 10px;
    }
  }   