
.details_container {
     padding: 20px 10px;
     margin: 0 auto;
     max-width: 665px;
    background-attachment: fixed;  /* Параллакс-эффект */
  position: relative;
font-size: 22px;
font-family: "PT Sans", sans-serif;
font-weight: 500;
/* font-style: italic;  */
   perspective: 1px;
    height: 100vh;
    overflow-x: visible; 
    overflow-y: auto;
  
    
}
.details_container h1{
    display: block;
   text-align: center;
 /* font-style: italic;  */
   
   font-family: "Sofia Sans Extra Condensed", sans-serif;
   font-size: 33px;
     letter-spacing: 1.1px;
     font-weight: 500;
     z-index: -1;
 }
 .details_container_p {
    /* font-style: italic;  */
    margin-bottom: 7px;
    text-align: center;
    z-index: -1;
 }
 .nav__hader {
  padding: 8px;
  width: 47px;
  border-radius: 17px;
  color: #fff;
  background-color: rgb(47 111 235);
 
 }

   @media  (max-width: 850px) {
    .details_container {
     grid-row-start: 2;
     max-height: 350px;
     padding: 20px 20px;
     overflow-y: scroll;  
     scroll-behavior: smooth;
     border-left: 2px solid rgb(47 111 235);
     border-right: 2px solid rgb(47 111 235);
     /* z-index: -10; */
  }
  .details_container::-webkit-scrollbar {
    width: 8px;             
  }
  
  .details_container::-webkit-scrollbar-thumb {
    background-color: rgb(47 111 235);
    border-radius: 20px; 
  }
  
  .details_container::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  }
  @media  (max-width: 700px) {
    .details_container {
    padding: 20px 10px; 
    margin: 0 10px;
    }
  }

