/* @import url('/fonts/SofiaSansExtraCondensed-SemiBold.ttf'); */


.tel_container{
    padding: 200px 20px;
    max-width: 600px;
    margin: 0px auto 0px;
    background-attachment: fixed;  
    position: relative;
    font-size: 26px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-style: italic;
    perspective: 1px;
    height: 100vh;
    overflow-x: visible; 
    overflow-y: auto;
    z-index: -1;
}
.tel_container h1{
    display: block;
   text-align: center;
   font-size: 33px;
     letter-spacing: 1.1px;
     font-weight: 700;
 }

 .tel_container a {
    display: inline-block;
    color: rgb(47 111 235);
    text-decoration: underline;
  }


  @media  (max-width: 850px) {
    .tel_container {
     grid-row-start: 2;
     padding: 20px 50px;
     height: auto;
     /* border-left: 2px solid rgb(47 111 235);
     border-right: 2px solid rgb(47 111 235); */
  }
  }
  /* @media (max-width: 700px) {
    .tel_container{
      padding: 20px 5px; 
      margin: 0 10px;
      }
    }  */
  